#plantation .region {
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: whitesmoke;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    margin: .8em .8em;
    width: auto;
    /* height: 300px; */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.30),0 10px 10px rgba(0,0,0,0.22);
    background-color: rgba(255,224,179,0.2);
}
#plantation .region:nth-of-type(even){
    flex-direction:row-reverse;
}
#plantation .region #regions {
    border-radius: 25px;
    float:left;
    padding: 10px;
}
.region iframe{
    max-width:200px;
    min-height:50px;
    height:auto;
    margin: 0 10px;
}
.table-section{
    margin:0 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    width:100%;
    border-collapse: collapse;
    border: 3px solid #009879;
}
table caption{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
thead,
tfoot{
    text-align: center;
    font-weight: bold;
    background: #009879;
    color:white ;
}
tr td{
    border-bottom: 3px solid #009879;
}
tbody tr img{
    width:65px;
}
th,
td{
    padding:20px;
}
 @media only screen and (max-width: 1000px) {
    .mainnav ul {
      flex-direction: column;
    }
    #plantation  .region{
      flex-direction: column ;
    }
 }
@media only screen and (max-width: 750px) {
    footer .cont {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

@media only screen and (max-width: 650px) {
    footer {
      align-items: flex-start;
    }
    footer .socials {
      align-self: center;
    }
    footer p {
      margin: 20px 0; 
      word-wrap: break-word;
    }
    .content-table {
        overflow-x: auto;
    }
     }

    
  